bkcharts==0.2
bokeh==0.12.6
branca==0.3.0
Flask==1.0.2
folium==0.5.0
gunicorn==19.9.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.0
pandas==0.23.3
pandas-datareader==0.6.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-file==1.4.3
six==1.11.0
tornado==5.1
Werkzeug==0.14.1
